- content_for :title, "Vim Shop - Admin"

%h1 Admin
.container
  %h2 Categories
  %table.table.table-striped
    %thead
      %tr
        %th.admin-table-header Name
        %th.admin-table-header Edit
        %th.admin-table-header Delete
    %tbody
      -@categories.each do |category|
        %tr
          %td.admin-table
            =link_to category.name, category_path(category)
          %td.admin-table
            =link_to 'Edit', edit_category_path(category)
          %td.admin-table
            =link_to 'Delete', category_path(category), method: :delete, data: {confirm: 'Are you sure?'}

  %h2 Items
  %table.table.table-striped
    %thead
      %tr
        %th.admin-table-header Name
        %th.admin-table-header Item Display
        %th.admin-table-header Edit
        %th.admin-table-header Delete
    %tbody
      -@items.each do |item|
        %tr{id: "item-#{item.id}"}
          %td.admin-table
            =item.name
          %td.admin-table
            =link_to 'Show', item_path(item)
          %td.admin-table
            =link_to 'Edit', edit_item_path(item)
          %td.admin-table
            =link_to 'Delete', item_path(item), method: :delete, data: {confirm: 'Are you sure?'}

%br
%br
%center
  %button.btn.btn-primary
    = link_to 'Create an Item', new_item_path
